@import "tailwindcss";
@source "../public/**/*.php";
@source "../includes/**/*.php";

@theme {
  /* Custom Color Palette */
  --color-olive-leaf: #606c38;
  --color-black-forest: #283618;
  --color-cornsilk: #fefae0;
  --color-sunlit-clay: #dda15e;
  --color-copperwood: #bc6c25;

  /* Semantic Mapping */
  --color-primary: var(--color-olive-leaf);
  --color-secondary: var(--color-sunlit-clay);
  --color-accent: var(--color-copperwood);
  
  --font-sans: Inter, sans-serif;
}

@layer base {
  body {
    background-color: var(--color-cornsilk);
    color: var(--color-black-forest);
  }
}
